<html lang="pt-BR">

<head>
  <meta charset="utf-8">

  <title>Editar Escola</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli">

  <!-- Plugin CSS -->
  <link rel="stylesheet" type="text/css" href="device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="css/new-age.min.css">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container">
      <font color="white">
        <h3> Zika Web </h3>
      </font>
    </div>
    </div>
  </nav>
  <!-- Fim Navigation -->


  <!-- Cadastro -->
  <section class="cadastro" id="cadastro">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h3>Editar Escola</h3>

          <form id="signupform" class="form-horizontal" role="form" method="post" action="/escola/edit/<%=school[0].id%>">

            </br>
            <div class="row">

              <div class="col-md-6">
                <label>Nome</label>
                <input type="text" class="form-control" name="name" value="<%=school[0].name%>" placeholder="Nome" required>
              </div>
              <div class="col-md-6">
                <label>Token</label>
                <input type="text" class="form-control" name="token" value="<%=school[0].token%>" placeholder="Token" required>
              </div>

            </div>
            </br>

            <hr>
            <div class="row">
              <div class="col-md-3">
                <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Cadastrar</button>
              </div>
            </div>
            
          </form>

        </div>
      </div>
    </div>
  </section>
  <!-- Fim Cadastro-->

  <footer>
    <div class="container">
      <p>&copy; Your Website 2018. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script type="text/js" src="../../vendor/jquery/jquery.min.js"></script>
  <script type="text/js" src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script type="text/js" src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script type="text/js" src="../../js/new-age.min.js"></script>

</body>

</html>
